.column-2{
    width:100%;
    padding:8rem 11rem;
    text-align: center;
    background-color:#C5C8C6;
    height:100vh;
}

.heading-primary{
    font-family: Yatra One;
    font-style: normal;
    text-align: center;
    font-size: 5rem;
    font-weight: 400;
    margin-bottom: 5rem;
}

.heading-secondary{
    font-family: Roboto;
    font-weight: 700;
    font-style: normal;
    font-size: 3rem;
    line-height: 2.93rem;
    margin-bottom: 3.5rem;
}

.form_group{
    margin-bottom: 2.5rem;
}

.form_input{
    font-family: Roboto;
    width:25%;
    padding:1rem 1rem;
    border-radius: 5rem;
    background-color: white;
    border: none;
    background-color: rgb(226, 215, 215);
    color: #CC6666;
}

label{
    display:block;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    margin-left: -32.3rem;
}

.label_email{
    margin-left: -35.6rem;
}

.button{
    border:none;
    cursor: pointer;
    border-radius: 5px;
    padding:1.5rem 6rem;
    display: inline-block;
    transform:translateX(-4rem);
    background-image: radial-gradient(#55c57a,#04C35C);
}

.recommendation{
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 19px;
    margin-left: -7rem;
}

.recommendation_text{
    margin-bottom: 1    rem;
}

