<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login Page</title>
</head>
<body>
        <div class="column-2">
            <div class="heading-primary">Out-Layer</div>
            <div class="heading-secondary"> "The Budget Tracker"</div>

            <div class="Form">
                <form class="form_beginning" method="POST" id="loginform">
                    <div class="form_group">
                        <label for="email" id="username" class="label_email">Email</label>
                        <input type="email" name="username" class="form_input" placeholder="your email here" id="email" required>
                    </div>

                    <div class="form_group">
                        <label for="password">Password</label>
                        <input type="password" name="password" id="password "class="form_input" placeholder="your password here" id="password" required>
                    </div>

                    <div class="form_group">
                        <button class="button" formaction="/login">Login Now &rarr;</button>
                    </div>
                    <div class="recommendation">
                        <p class="recommendation_text">Don't have an account?</p> <a href=''><strong> Create one here. </strong></a>
                    </div>
                </form>
            </div>
        </div>
</body>
</html>
